/*
  ----
  COLORS
  ----
*/

$lightBlack: #282828;
$green: #cacf1b;
$white: white;
$black: black;
$hover: #888;
$darkgrey: #333;
$blue: #47c0b9;
$grey: #717171;
$borderGrey: #cacaca;
$darkBlue: #00988F;