.small {
  font-size: 9px;
}

/*
  ----
  PADDING
  ----
*/

.padding-small {
  padding: 10px
}

.padding-medium {
  padding: 15px;
}

.padding-large {
  padding: 20px
}

.padding-xlarge {
  padding: 40px;
}



.padding-left-small {
  padding-left: 10px
}

.padding-left-medium {
  padding-left: 15px;
}

.padding-left-large {
  padding-left: 20px
}

.padding-left-xlarge {
  padding-left: 40px;
}



.padding-right-small {
  padding-right: 10px
}

.padding-right-medium {
  padding-right: 15px;
}

.padding-right-large {
  padding-right: 20px
}

.padding-right-xlarge {
  padding-right: 40px;
}



.padding-bottom-small {
  padding-bottom: 10px
}

.padding-bottom-medium {
  padding-bottom: 15px;
}

.padding-bottom-large {
  padding-bottom: 20px
}

.padding-bottom-xlarge {
  padding-bottom: 40px;
}



.padding-top-small {
  padding-top: 10px
}

.padding-top-medium {
  padding-top: 15px;
}

.padding-top-large {
  padding-top: 20px
}

.padding-top-xlarge {
  padding-top: 40px;
}

/*
  ----
  MARGIN
  ----
*/

.margin-small {
  margin: 10px
}

.margin-medium {
  margin: 15px;
}

.margin-large {
  margin: 20px
}

.margin-xlarge {
  margin: 40px;
}



.margin-left-small {
  margin-left: 10px
}

.margin-left-medium {
  margin-left: 15px;
}

.margin-left-large {
  margin-left: 20px
}

.margin-left-xlarge {
  margin-left: 40px;
}



.margin-right-small {
  margin-right: 10px
}

.margin-right-medium {
  margin-right: 15px;
}

.margin-right-large {
  margin-right: 20px
}

.margin-right-xlarge {
  margin-right: 40px;
}



.margin-bottom-small {
  margin-bottom: 10px
}

.margin-bottom-medium {
  margin-bottom: 15px;
}

.margin-bottom-large {
  margin-bottom: 20px
}

.margin-bottom-xlarge {
  margin-bottom: 40px;
}



.margin-top-small {
  margin-top: 10px
}

.margin-top-medium {
  margin-top: 15px;
}

.margin-top-large {
  margin-top: 20px
}

.margin-top-xlarge {
  margin-top: 40px;
}

