/*
  ----
  COLORS
  ----
*/

$green: #cacf1b;
$white: white;
$black: black;
$hover: #888;

/*
  ----
  CONTAINER
  ----
*/

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
} 

.page.container {
  background-color: $white;
  padding-top: 200px;
}

/*
  ----
  NAVIGATION
  ----
*/

.navbar-brand {
  padding: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

nav.navbar {
  border-radius: 0px;
  background-color: $white;
  border: 0px solid $white;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  nav.navbar {
    border: 20px solid $white;
  }
}

nav.navbar .container {
  background-color: $black;
}

nav.navbar .navbar-nav > li {
  width: 100px;
}

nav.navbar .navbar-nav > li:last-of-type {
  margin-right: -15px;
}

nav.navbar .navbar-nav > li > a {
  color: $white;
  font-size: 14px;
  text-align: center;
}

nav.navbar .navbar-nav > li > a:hover {
  color: $green;
}

nav.navbar .navbar-nav > li.selected > a {
  color: $black;
}

nav.navbar .navbar-nav > li.selected {
  background-color: $green;
}

nav.navbar .navbar-nav > li.selected > a:hover {
  color: $black;
}

/*
  ----
  COMMON
  ----
*/

.green {
  color: $green;
}

.bold {
  font-weight: bold;
}

/*
  ----
  HOME PAGE
  ----
*/

.welcome-note {
  text-align: center;
  font-size: 40px;
  color: $black;
}
.welcome-message {
  text-align: center;
  font-size: 24px;
  color: $black;
  padding-bottom: 100px;
}

/*
  ----
  ABOUT PAGE
  ----
*/

.about-page__skill-list {
  list-style: none;
  padding-left: 0px;
}

.about-page__skill-list--padded {
  @extend .about-page__skill-list;
  padding-bottom: 20px;
}

.about-page__intro-text {
  font-size: 14px;
}

.about-page__intro-text--padded {
  @extend .about-page__intro-text;
  padding-bottom: 20px;
}

a.about-page__cv-button, button.about-page__cv-button {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 0px;
  background-color: $black;
  border-color: $black;
  width: 150px;
  height: 30px;
  font-size: 14px;
  line-height: 7px;
}

a.about-page__cv-button:hover, button.about-page__cv-button:hover {
  background-color: $hover;
  border-color: $black;
}

.about-page__info-row--padded {
  padding-bottom: 40px;
}

.about-page__info-row img, .about-page__info-row--padded img {
  height: 70px;
  margin-top: 4px;
}

.about-page__pic img {
  height: 300px;
}

/*
  ----
  CONTACT PAGE
  ----
*/

button.contact-page__message-button {
  float: right;
  border-radius: 0px;
  background-color: $black;
  border-color: $black;
  width: 150px;
  height: 30px;
  font-size: 14px;
  line-height: 0px;
}

button.contact-page__message-button:hover {
  background-color: $hover;
  border-color: $black;
}

.contact-page label {
  font-size: 14px;
  display: block;
}

.contact-page input[type='text'] {
  height: 35px;
  border-radius: 0px;
  font-size: 14px;
  width: 100%;
}

.contact-page textarea {
  font-size: 14px;
  border-radius: 0px;
  width: 100%;
}

.contact-page__circles {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-page__circles img {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

/*
  ----
  FOOTER
  ----
*/

footer {
  height: 40px;
  background-color: $black;
}