@import "colors";

/*
  ----
  FONTS
  ----
*/

@font-face {
  font-family:"OpenSansReg";
  src: url("../fonts/OpenSans-Regular.ttf") /* TTF file for CSS3 browsers */
}

.blue {
  color: $blue;
}

.darkBlue {
  color: $darkBlue;
}

.grey {
  color: $grey;
}

.white {
  color: $white;
}

.contact-link {
  color: $white;
}

.contact-link:hover {
  color: $blue;
}

.preheader-logo {
  display: none;
}

/*
  ----
  CONTAINER
  ----
*/

.page.container {
  position: relative;
  background-color: $white;
}

/*
  ----
  NAVIGATION
  ----
*/

.navbar-brand {
  padding: 0px;
}

nav.navbar {
  border-radius: 0px;
  background-color: $white;
  border: 0px solid $white;
  margin-bottom: 0px;
}

nav.navbar .navbar-nav > li {
  background-color: $lightBlack;
}

nav.navbar .navbar-brand,
nav.navbar .navbar-nav > li > a {
  line-height: 42px;
  letter-spacing: 3px;
  height: 40px;
  padding-top: 0;
  font-size: 14px;
  color: $white;
  text-align: center;
  font-family: OpenSansReg;
}

nav.navbar .navbar-nav > li > a:hover {
  color: $blue;
}

nav.navbar .navbar-nav > li.selected > a {
  color: $white;
}

nav.navbar .navbar-nav > li.selected {
  background-color: $blue;
}

nav.navbar .navbar-nav > li.selected > a:hover {
  color: $white;
}

.preheader {
  margin-top: 5px;
  margin-bottom: 3px;
  font-family: OpenSansReg;
  letter-spacing: 3px;
  padding-left: 50px;
}

/*
  ----
  COMMON
  ----
*/

.green {
  color: $green;
}

.bold {
  font-weight: bold;
}

/*
  ----
  HOME PAGE
  ----
*/

.home-page__greeting-panel {
  font-family: OpenSansReg;
  padding-left: 80px;
}

.home-page__greetings {
  font-size: 154px;
  color: $blue;
}
.home-page__paras {
  font-size: 30px;
  color: $black;
  margin: 0px;
  padding-left: 10px;
}

/*
  ----
  ABOUT PAGE
  ----
*/

.about-page__info-title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0px;
}

.about-page__skill-list {
  list-style: none;
  padding-left: 0px;
}

.about-page__skill-list--padded {
  @extend .about-page__skill-list;
  padding-bottom: 20px;
}

.about-page__intro-text {
  font-size: 14px;
}

.about-page__intro-text--padded {
  @extend .about-page__intro-text;
  padding-bottom: 20px;
}

a.about-page__cv__button, button.about-page__cv-button {
  border-radius: 0px;
  background-color: $black;
  border-color: $black;
  width: 230px;
  height: 30px;
  font-size: 15px;
  line-height: 24px;
  font-family: OpenSansReg;
  letter-spacing: 4px;
  padding: 0px;
}

a.about-page__cv__button:hover, button.about-page__cv-button:hover, button.about-page__cv-button:active, a.about-page__cv-button:visited {
  background-color: $blue;
  border-color: $blue;
}

.about-page__info-row--padded {
  padding-bottom: 40px;
}

.about-page__pic {
  text-align: center;
}

.about-page__pic img {
  padding: 0px;
  border: 1px solid $borderGrey;
}

.about-page__info-subtitle {
  color: $darkBlue;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.42857;
}

/*
  ----
  PROJECT PAGE
  ----
*/

.project-list {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

.project-list__item {
  border: 1px solid $borderGrey;
}

.project-title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0px;
}

.project-btn-panel {
  float: right;

  a {
    width: 100px;
    border-radius: 0px;
  }

  .project-sample-button {
    background-color: $black;
  }
}

.project-sample-button:hover {
  background-color: $blue;
  border-color: $blue;
  color: $white;
}

/*
  ----
  CONTACT PAGE
  ----
*/

button.contact-page__message-button {
  border-radius: 0px;
  background-color: black;
  border-color: black;
  width: 170px;
  height: 25px;
  font-size: 15px;
  font-family: OpenSansReg;
  letter-spacing: 3px;
  padding: 0px;
}

button.contact-page__message-button:hover {
  background-color: $darkgrey;
  border-color: $black;
}

.contact-page label {
  font-size: 14px;
  display: block;
}

.contact-page input[type='text'] {
  margin-bottom: 10px;
  height: 35px;
  border-radius: 0px;
  font-size: 14px;
  width: 100%;
}

.contact-page textarea {
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 0px;
  width: 100%;
}

.contact-page__text {
  text-align: center;
}

.contact-page__text__name {
  margin-top: 13px;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-page__text__info {
  font-size: 15px;
}
