@import "colors";

// OVERRIDES

nav.navbar .navbar-nav > li {
  width: 100%;
}

ul.navbar-nav {
  margin: 0 -15px;
}

nav.navbar {
  background-color: $lightBlack;
}

.preheader {
  display: none;
}

.preheader-logo {
  display: block;
  margin-top: 1px;
  padding-left: 30px;
}

// HOME PAGE

.welcome {
  margin-top: 130px;
}

.about-page__pic img {
  margin-bottom: 20px;
  width: 200px;
  margin-top: 20px;
}

.about-page__cv {
  text-align: center;
}

.contact-page__text {
  text-align: center;
}

button.contact-page__message-button {
  float: right;
  border-radius: 0px;
  background-color: black;
  border-color: black;
  font-size: 14px;
  line-height: 0px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}

.floating-contact {
  margin-top: 40px;
  text-align: center;
}

.contact-circles {
  
  img {
    cursor: pointer;
    margin: 10px;
    width: 50px;
  }
}

.project-list {
  margin-top: 20px;
}

.project-btn-panel, .project-btn-panel > div, .project-btn-panel > div > a {
  width: 100%;
}

.home-page__greeting-panel {
  font-family: OpenSansReg;
  padding-left: 0px;
  text-align: center;
}

.home-page__greetings {
  font-size: 100px;
  color: $blue;
}
