nav.navbar .navbar-nav > li {
  width: 100px;
}

.page.container {
  padding-top: 200px;
}

.about-page__pic img {
  margin-bottom: 20px;
  width: 200px;
}

button.contact-page__message-button {
  float: right;
  border-radius: 0px;
  background-color: black;
  border-color: black;
  font-size: 14px;
  height: 40px;
  line-height: 0px;
  width: 160px;
}