@import "colors";

.container {
  width: 992px;
}

nav.navbar {

}

nav.navbar .navbar-nav > li {
  width: 120px;
}

nav > .container {
  padding-top: 15px;
  border: 1px solid $borderGrey;
  border-bottom: 0px;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.page.container {
  padding-top: 100px;
  border: 1px solid #cacaca;
  border-top: 0px;
  overflow-y: auto;
  min-height: 800px;
}

.about-page__pic img {
  margin-bottom: 20px;
  width: 230px;
}

.floating-contact {
  position: absolute;
  top: 88%;
  left: 76%;
}

.contact-circles {
  
  img {
    cursor: pointer;
    margin: 10px;
  }
}

.home-page {
  margin-top: 100px;
}

.about-page {
  margin-top: 50px;
}

.projects-page {
  margin-top: 100px;
}

.contact-page {
  margin-top: 100px;
}
