nav.navbar .navbar-nav > li {
  width: 120px;
}

.page.container {
  padding-top: 20px;
}

.welcome {
  margin-top: 130px;
}

.about-page__pic img {
  margin-bottom: 20px;
  width: 230px;
  margin-top: 20px;
}

.about-page__cv {
  text-align: center;
}

.contact-page__form {
  margin-bottom: 20px;
}

button.contact-page__message-button {
  float: right;
  border-radius: 0px;
  background-color: black;
  border-color: black;
  font-size: 14px;
  height: 40px;
  line-height: 0px;
  width: 160px;
}